.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem;
}

.forecast-item__day {
  padding: 0.625rem;
  font-size: 1em;
  color: #939292;
}

.forecast-item__icon {
  width: 4.375rem;
  height: 4.375rem;
}

.forecast-item__temp-container {
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
}
