.list-of-weather {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom:1rem;
}

.list-of-weather__title {
  margin: 1.875rem 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #151515;
}

.list-of-weather__container {
  width: 100%;
  overflow: auto;
  margin: 0 0.625rem;
  padding-bottom: 1.875rem;
}

.list-of-weather__list {
  display: flex;
  gap: 1.25rem;
}
