.timer {
  display: flex;
  flex-direction: row;
  padding-top: 4.375rem;
}

.timer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem;
  color: white;
}

.timer__item__value {
  margin-bottom: 0.625rem;
  color: white;
  font-size: 2.8em;
  font-weight: 900;
}
