.timer {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

}

.timer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: white;

}

.timer__item__value {
    margin-bottom: 10px;
    color: white;
    font-size: 2.8em;
    font-weight: 900;
}

.timer__item__label {

}