.forecast {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(59 56 99 / 73%);

}


.forecast-today {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 50px;
    margin-right: 80px;
}

.forecast-today__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.forecast-today__weather{
    display: flex;
    margin: 15px 0;
}

.forecast-today__weather__temperature {
    font-size: 3.5rem;
}

.forecast-today__weather__unit-celsius {
    font-size: 1.5rem;
}
.forecast-today__weather__unit-temp {
    font-size: 1.2rem;
    margin-top: 2px;

}

.forecast-today__week-day {
font-weight: 800;
}

.forecast-today__weather {

}
.forecast-today__icon {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}