
.trip-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.trip-item:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;}

.trip-item--selected {
    background: #8484c9;
    .trip-item__date {
        color: white;
    }
}
.trip-item__image-container {
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.trip-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trip-item__description {
    width: 100%;
    padding: 12px;
    border-right: solid 1px #939292;
    border-left: solid 1px #939292;
    border-bottom: solid 1px #939292;
}
.trip-item__city {
    font-size: 0.9rem;
    font-weight: bold;
}
.trip-item__date {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #939292;
}