.container {
    margin: 0 auto;
    border: 5px solid brown;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
}

.side-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}
.side-right {
    flex: 1;
    display: flex;
    background-color: #f5f5f5;
}