.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
}

.side-left {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 65%;
    background-color: #f5f5f5;
}

.side-right {
    width: 35%;
    background: -20% 20%/ 45% no-repeat url("../../img/clouds.png"), -50% 85%/ 50% no-repeat url("../../img/clouds.png"), 108% 3%/ 45% no-repeat url("../../img/clouds.png"), 90% 50%/ 45% no-repeat url("../../img/clouds.png"), #16234b;

}